<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= title %></title>

    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/utilities.css">
    <link rel="stylesheet" href="/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <% if (locals.native_app) { %>
      <link rel="stylesheet" href="/native.css">
    <% } %>

    <script src="<%= locals.useTurbolinks ? "/turbolinks-5.2.0.js" : "/dist/turbo.es2017-umd.js" %>"></script>
  </head>
  <body class="<%= locals.page_class || "" %>">
    <main id="content" class="grid pad --bottom-soft">
      <%- body %>
      
      <script>
        setTimeout(() => {
          alert("Alert on page from <%= title %>")
        }, 1000)
      </script>

      <footer class="text --size-s --color-subtle space --top-xxl">
        Rendered <%- new Date() %>

        <% if (locals.useTurbolinks) { %>
          via Turbolinks 5
        <% } else { %>
          via Turbo 7
        <% } %>
      </footer>
    </main>
  </body>
</html>
